<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- stack trace element exclusion patterns -->
	<property name="STE_EXCLUSIONS" value="\$\$FastClassByCGLIB\$\$,\$\$EnhancerBySpringCGLIB\$\$,^sun\.reflect\..*\.invoke,^com\.sun\.,^sun\.net\.,^net\.sf\.cglib\.proxy\.MethodProxy\.invoke,^org\.junit\.,^org\.apache\.maven\.surefire\.,^java\.lang\.reflect\.Method\.invoke,^java\.util\.concurrent\.ThreadPoolExecutor\.runWorker,^java\.lang\.Thread\.run,^com\.intellij\."/>

	<!-- declare "%sEx" as a conversion rule usCustomThrowableConverterWithHashHash -->
	<conversionRule conversionWord="hEx" converterClass="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
	</conversionRule>

	<appender name="STDOUT1" class="ch.qos.logback.core.ConsoleAppender">
 		<layout class="ch.qos.logback.classic.PatternLayout">
 			<!-- use converters in the layout pattern -->
			<Pattern>[NOEXCLUDE] %d{HH:mm:ss.SSS} %-5level %logger [%thread:%X{requestId:--}] - %msg%n%hEx</Pattern>
		</layout>
		<!-- rest of your config ... -->
	</appender>

	<appender name="STDOUT2" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<!-- use converters in the layout pattern -->
			<Pattern>[EXCLUSIONS] %d{HH:mm:ss.SSS} %-5level %logger [%thread:%X{requestId:--}] - %msg%n%hEx{full,full,full,${STE_EXCLUSIONS}}</Pattern>
		</layout>
		<!-- rest of your config ... -->
	</appender>

	<!-- the LogstashEncoder from logstash-logback-appender encodes a log event to native Logstash JSON format -->
	<appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LogstashEncoder" >
			<!-- computes and adds a 'stack_hash' field on errors -->
			<provider class="net.logstash.logback.composite.loggingevent.StackHashJsonProvider">
				<exclusions>${STE_EXCLUSIONS}</exclusions>
			</provider>
			<!-- enriches the stack trace with unique hash -->
			<throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
				<inlineHash>true</inlineHash>
				<exclusions>${STE_EXCLUSIONS}</exclusions>
			</throwableConverter>
		</encoder>
	</appender>

	<!-- even simpler with any appender from logstash-logback-appender -->
	<appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashSocketAppender">
		<!-- computes and adds a 'stack_hash' field on errors -->
		<provider class="net.logstash.logback.composite.loggingevent.StackHashJsonProvider">
			<exclusions>${STE_EXCLUSIONS}</exclusions>
		</provider>
		<!-- enriches the stack trace with unique hash -->
		<throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
			<inlineHash>true</inlineHash>
			<exclusions>${STE_EXCLUSIONS}</exclusions>
		</throwableConverter>
		<!-- rest of your config ... -->
	</appender>

	<!-- rest of your config ... -->
	<logger name="com.orange" level="DEBUG" />

	<root level="INFO">
		<appender-ref ref="STDOUT1" />
		<appender-ref ref="STDOUT2" />
		<appender-ref ref="JSON" />
	</root>

</configuration>